@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}



header{
    
    background-color: #900C3F;
    position: fixed;
    width: 100%;
    


}

.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.logo-text{
    color:white;
    
}
.navber a{
    text-decoration: none;
}
.logo-text img{
    width: 100%;
}
.nav-menu{
    display:flex;
    align-items: center;
    gap: 10px;
    
}

.nav-item{
    list-style: none;
    
}

.navber .nav-menu .nav-item a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.navber .nav-menu .nav-item a:hover{
   
    background-color:darkorange;
    border-radius: 25px;
    color: black;
}


/* main section start */

main{
    background-color: #3d2412;
    
}

.coffee-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    min-height: 100vh;
}


.coffee-header{
    color: white;
    
}

.coffee-header .coffee-tittle{
    color:coral;
    
}

.coffee-header .subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
    
   
}
.coffee-header .coffee-button{
    margin-top: 15px;
} 

.coffee-header .coffee-button button{
    padding: 10px 20px;
    border-radius: 10px;
    
}
.coffee-header .coffee-button button:hover{
    background-color:darkorange;
}

.coffee-img{
    text-align: end; 
    
}

.coffee-img img{
    width:50%;
    
}

